@using BanDongHo.Models;
@model IEnumerable<Topic>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
@{ IEnumerable<Topic> listTopic = (IEnumerable<Topic>)ViewBag.ListTopic;}
@{ IEnumerable<Post> listPost = (IEnumerable<Post>)ViewBag.ListPost;}

<section class="clearfix maincontent my-3">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="">
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-3">
                            <a href="bai-viet/@item.Slug" title="@item.Name">
                                <h4>@item.Name</h4>
                            </a>
                        </div>
                    }
                </div>
                <div class="clearfix">
                    @foreach (var item in listTopic)
                    {
                        foreach (var ytem in listPost)
                        {
                            if (ytem.TopId == item.Id)
                            {
                                <div class="col-sm-12">
                                    <a href="/bai-viet/@item.Slug/@ytem.Slug" style="text-decoration:none;" title="@ytem.Title" class="clearfix">
                                        <div class="article-image">
                                            <img src="~/Images/@ytem.Img" style="height:300px; width:100%;" />
                                        </div>
                                        <h3 class="line-clamp">@ytem.Title</h3>
                                        <p class="hidden-xs">@ytem.Description</p>
                                    </a>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Category</h2>
                    <div class="panel-group category-products" id="accordian">
                        <!--category-productsr-->
                        @Html.Action("ListCategory", "Module")
                    </div>
                    <!--/category-products-->
                    <div class="brands_products">
                        <!--brands_products-->
                        <h2>Brands</h2>
                        <div class="brands-name">
                            @Html.Action("Brand", "Module")
                        </div>
                    </div><!--/brands_products-->

                    <div class="price-range">
                        <!--price-range-->
                        <h2>Price Range</h2>
                        <div class="well text-center">
                            <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2"><br />
                            <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
                        </div>
                    </div><!--/price-range-->

                    <div class="shipping text-center">
                        <!--shipping-->
                        <img src="" alt="" />
                    </div><!--/shipping-->

                </div>
            </div>
        </div>
    </div>
</section>